<%= form_for(@workorder) do |f| %>
  <% if @workorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this workorder from being saved:</h2>

      <ul>
      <% @workorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<table>
		<tr>
			<td><%= f.label :proc_mode %></td>
			<td><%= f.select :proc_mode, [['L0', 0], ['L1', 1], ['L2', 2]] %></td>
		</tr>

		<tr>
			<td><%= f.label :data_set %></td>
			<td><%= f.text_field :data_set %></td>
		</tr>

		<tr>
			<td></td>
			<td><%= f.submit %></td>
		</tr>
	</table>
<% end %>
