<p id="notice"><%= notice %></p>

<script type="text/javascript">
setTimeout("location.reload()", <%= @wait_time %>);
</script>

<h1>Work Orders</h1>

<%= form_tag('/workorders', method: 'get') do %>

<table class="table">
	<tr>
		<td>PROC MODE</td>
		<td><%= select_tag :procmode_id, options_for_select(@procmodes.collect{|t|[t.name, t.id]}, @procmode_id) %></td>
	</tr>

	<tr>
		<td>STATUS</td>
		<td><%= select_tag :status_id, options_for_select(@statuses.collect{|t|[t.name, t.id]}, @status_id) %></td>
	</tr>

	<tr>
		<td>START DATE</td>
		<td><%= select_tag :start_year, options_for_select(@year_list, @start_year) %> <%= select_tag :start_month, options_for_select(@month_list, @start_month) %> <%= select_tag :start_day, options_for_select(@day_list, @start_day) %> - <%= select_tag :start_hour, options_for_select(@hour_list, @start_hour) %> <%= select_tag :start_min, options_for_select(@min_list, @start_min) %> <%= select_tag :start_sec, options_for_select(@sec_list, @start_sec) %>
</td>
	</tr>

  <tr>
    <td>END DATE</td>
    <td><%= select_tag :end_year, options_for_select(@year_list, @end_year) %> <%= select_tag :end_month, options_for_select(@month_list, @end_month) %> <%= select_tag :end_day, options_for_select(@day_list, @end_day) %> - <%= select_tag :end_hour, options_for_select(@hour_list, @end_hour) %> <%= select_tag :end_min, options_for_select(@min_list, @end_min) %> <%= select_tag :end_sec, options_for_select(@sec_list, @end_sec) %></td>
  </tr>

	<tr>
		<td></td>
		<td><%= submit_tag 'display' %></td>
	</tr>
</table>
<% end %>

<%= link_to 'New Workorder', new_workorder_path %>

<br>

<table class="table table-contextual">
  <thead>
    <tr>
			<th>ID</th>
			<th>DATA SET</th>
			<th>OBS TIME</th>
			<th>PROC MODE</th>
			<th>STATUS</th>
			<th>CREATOR</th>
			<th>ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @workorders.each do |workorder| %>
      <tr class="<%= get_class(workorder.status_id) %>">
				<td><%= workorder.id %></td>
				<td><a href="/assets/<%= workorder.data_set %>" target="_blank"><%= workorder.data_set %></a></td>
				<td><%= workorder.obstime %></td>
				<td><%= workorder.procmode.name %></td>
				<td><%= workorder.status.name %></td>
				<td><%= workorder.user.name %></td>
        <td><%= link_to 'Show', workorder, class: 'btn btn-success' %>
        <%= link_to 'Edit', edit_workorder_path(workorder), class: 'btn btn-success' %>
        <%= link_to 'Destroy', workorder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
