<p id="notice"><%= notice %></p>

<h1>Work Orders</h1>

<%= link_to 'New Workorder', new_workorder_path %>

<br>

<table class="table table-contextual">
  <thead>
    <tr>
			<th>ID</th>
			<th>DATA SET</th>
			<th>PROC MODE</th>
			<th>STATUS</th>
			<th>CREATOR</th>
			<th>ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @workorders.each do |workorder| %>
      <tr class="<%= get_class(workorder.status) %>">
				<td><%= workorder.id %></td>
				<td><a href="/assets/<%= workorder.data_set %>" target="_blank"><%= workorder.data_set %></a></td>
				<td><%= get_proc_mode(workorder.proc_mode) %></td>
				<td><%= get_status(workorder.status) %></td>
				<td><%= workorder.creator %></td>
        <td><%= link_to 'Show', workorder, class: 'btn btn-success' %>
        <%= link_to 'Edit', edit_workorder_path(workorder), class: 'btn btn-success' %>
        <%= link_to 'Destroy', workorder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
