<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">

		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>User Name</td>
			<td><%= @user.name %></td>
		</tr>

		<tr>
			<td>Wait Time</td>
			<td><%= f.number_field :wait_time %>
		</tr>
	</table>

	<%= f.hidden_field :user_id, :value => @user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
