<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @setting.user_id %>
</p>

<p>
  <strong>Wait time:</strong>
  <%= @setting.wait_time %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
